/* Root varaiables */

:root {
    --black: #000000ff;
    --white: #ffffffff;
    --text-main: #393e05ff;
    --text-secondary: #f5cb5de7;
    --bg-grey: #393e05ff;
    --bg-yellow: #ffffbeff;
    --edit-text: #007662ff;
    --edit-bg: #f2fedcff;
    --bg-orange: #f5cb5de7;
}

/* Body */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url(../images/utensils-yellow-gradient.jpg);
    background-size: cover;
    /* background-color: var(--bg-body); */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;    
}

/* Navigation */

#navbar {
    background-color: transparent;
    box-shadow: none;
}

.nav-wrapper {
    /* box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5); */
    /* background-image: url(../images/orange-check2-90.png); */
    background-color: var(--bg-orange);
    border-bottom: 5px solid var(--text-main);
}

.brand-logo {
    margin-left: 30px;
    font-family: 'Cairo', sans-serif;
}

a.brand-logo {
    color: var(--text-main);
}

.nav-list {
    margin-right: 30px;
    font-family: 'Cairo', sans-serif;
}

.nav-list li a {
    color: var(--text-main);
}

/* Side Navigation */

.sidenav {
    max-height: 80%;
    margin: 5% 0 5% 10px;
    /* box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5); */
    /* background-image: url(../images/orange-check2-90.png); */
    background-color: var(--bg-orange);
    font-family: 'Cairo', sans-serif;
}

.sidenav li h4 {
    color: var(--text-main);
}

.sidenav li a {
    color: var(--text-main);
}

/* Icons */

.fa-bars {
    margin-left: 15px;
}

.fas {
    /* filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5)); */
    color: var(--text-main);
}

.fas:hover {
    color: var(--edit-text);
}

.text-shadow {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

/* Card Panels */

.card-panel {
    margin: 30px 0;
    /* box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5); */
    /* background-image: url(../images/orange-check2-90.png); */
    background-color: var(--bg-orange);
    border: 5px solid var(--text-main);
}

.card-panel h3 {
    color: var(--text-main);
    font-family: 'Cairo', sans-serif;
}

/* Cards */

.card {
    /* background-image: url(../images/orange-check2-90.png); */
    background-color: var(--bg-orange);
    color: var(--text-main);
    margin: 30px auto;
    border: 5px solid var(--text-main);
}

.card-title {
    font-family: 'Cormorant Infant', sans-serif;
}

.card h5 {
    font-family: 'Cormorant Infant', serif;
}

.card p, .card a, .card li{
    font-family: 'Karma', serif;
}

.ingredient {
    list-style: circle;
}

.para-indent {
    text-indent: 40px;
}

.card-content, .card-reveal {
    /* background-image: url(../images/orange-check2-90.png); */
    background-color: var(--bg-orange);
    color: var(--text-main);
}

.card-image {
    margin: 10px 10px 0 10px;
}

.single {
    margin: 30px 0;
}

.ed-btn {
    margin: 0 auto 30px auto;
}

#recipe, #serves, #ingredients, #prep, #cook, #details {
    padding: 10px;
}

.category li, .ingredient li {
    list-style: none;
}

/* Forms */

.input-field .prefix.active {
    color: var(--edit-text);
}

.input-field label {
    color: var(--text-main);
    font-family: 'Karma', serif;
}

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label {
    color: var(--text-main) !important;
}

::placeholder {
    color: var(--text-main);
    font-family: 'Karma', serif;
    font-style: italic;
}

.select-wrapper .caret {
    fill: var(--text-main);
}

.select-wrapper span {
    background-color: var(--bg-orange);
    color: var(--text-main);
}

.select-dropdown li.disabled > span {
    background-color: var(--bg-orange);
}

.select-dropdown {
    border: 2px solid var(--text-main);
}

/* Buttons */

.btn {
    background-color: var(--text-main);
    color: var(--bg-yellow);
    font-family: 'Cairo', sans-serif;
}

.btn:hover, .btn:hover .fas {
    background-color: var(--edit-text);
    color: var(--text-secondary);
}

.btn .fas {
    filter: none;
    color: var(--bg-yellow);
}

a.btn {
    font-family: 'Cairo', sans-serif;
}


/* Question */

.question {
    font-family: 'Karma', serif;
    color: var(--text-main);
}

.question a {
    color: var(--text-main);
}
.question a:hover {
    color: var(--edit-text);
}

/* Flash Messages */

.flash-banner {
    margin: 30px 0 0 0;
    /* width: 45%; */
}

.flashes {
    /* box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5); */
    /* background-image: url(../images/orange-check2-90.png); */
    background-color: var(--bg-orange);
}

.flashes h4 {
    font-family: 'Cairo', sans-serif;
    line-height: 1;
    padding-top: 10px;
    color: var(--text-main);
}

/* Footer */

.page-footer {
    /* background-image: url(../images/orange-check2-90.png); */
    background-color: var(--bg-orange);
    /* box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5); */
    color: var(--text-main);
    margin-top: 30px;
    border-top: 5px solid var(--text-main);
}

.page-footer h5 {
    font-family: 'Cairo', sans-serif;
}

.page-footer a,
.page-footer p {
    font-family: 'Karma', serif;
}

.page-footer a:hover {
    color: var(--edit-text);
}

.footer-copyright .container, .footer-copyright .container a, .page-footer a {
    color: var(--text-main);
}

.footer-copyright {
    font-family: 'Karma', serif;
}

.footer-copyright a:hover {
    color: var(--edit-text);
}

/* @media queries */

@media only screen and (max-width: 996px) {
    .brand-logo {
        margin-left: 0;
    }

    .flash-banner {
        margin: 30px 0 0 0;
        /* width: 95%; */
    }
}

.row {
    /* border: 2px solid red; */
}

.col {
    /* border: 2px solid blue; */
}
