/* Root varaiables */

:root {
    --black: #000000ff;
    --text-main: #424b54ff;
    /* --text-secondary: #e1ce7aff; */
    --text-secondary: #f6f1eeff;
    --desert-sand: #ebcfb2ff;
    --bg-main: #c5baafff;
    --bg-main-opaque: #ed7d31a9;
    --bg-secondary: #e1ce7a50;
    --bg-body: #f6f1eeff;
    --white: #ffffffff;
    --pink-pot: #fbc5aaff;
    --blue-bowl: #c7d8c4ff;
}

/* Body */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* background-image: url(../images/rich-pastel-pots-weave-60-white.jpg);
    background-size: cover; */
    background-color: var(--bg-body);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;    
}

/* Navigation */

#navbar {
    background-color: transparent;
    box-shadow: none;
}

.nav-wrapper {
    /* box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5); */
    background-color: var(--bg-main);   
}

.brand-logo {
    margin-left: 30px;
    font-family: 'Cairo', sans-serif;
}

a.brand-logo {
    color: var(--text-main);
}

.nav-list {
    margin-right: 30px;
    font-family: 'Cairo', sans-serif;
}

.nav-list li a {
    color: var(--text-main);
}

/* Side Navigation */

.sidenav {
    max-height: 80%;
    margin: 5% 0 5% 10px;
    /* box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5); */
    background-color: var(--bg-main);
    font-family: 'Cairo', sans-serif;
}

.sidenav li h4 {
    color: var(--text-main);
}

.sidenav li a {
    color: var(--text-main);
}

/* Icons */

.fa-bars {
    margin-left: 15px;
}

.fas {
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
    color: var(--text-main);
}

.text-shadow {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

/* Card Panels */

.card-panel {
    margin: 30px 0;
    /* box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5); */
    background-color: var(--bg-main);
}

.card-panel h3 {
    color: var(--text-main);
    font-family: 'Cairo', sans-serif;
}

/* Cards */

.card {
    background-color: var(--bg-main);
    color: var(--text-main);
    margin: 30px 15px;
}

.card-title {
    font-family: 'Cormorant Infant', sans-serif;
}

.card h5 {
    font-family: 'Cormorant Infant', serif;
}

.card p, .card a, .card li{
    font-family: 'Karma', serif;
}

.ingredient {
    list-style: circle;
}

.para-indent {
    text-indent: 40px;
}

.card-content, .card-reveal {
    background-color: var(--bg-body) !important;
    color: var(--text-main);
}

.card-reveal {
    border: 2px solid var(--text-main);
}

/* Forms */

.input-field .prefix.active {
    color: var(--text-secondary);
}

.input-field label {
    color: var(--text-main);
    font-family: 'Karma', serif;
}

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label {
    color: var(--text-main) !important;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus {
    border-bottom: 1px solid var(--text-secondary) !important;
    box-shadow: 0 1px 0 0 var(--text-secondary) !important;
}

input.select-dropdown.dropdown-trigger {
    color: var(--text-main);
    font-family: 'Karma', serif;
}

::placeholder {
    color: var(--text-main);
    font-family: 'Karma', serif;
    font-style: italic;
}

.select-wrapper .caret {
    fill: var(--text-main);
}

/* Buttons */

.btn {
    /* box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5); */
    background-color: var(--text-main);
    color: var(--bg-main);
    font-family: 'Cairo', sans-serif;
}

.btn:hover {
    background-color: var(--text-secondary);
    color: var(--text-main);
}

.btn .fas {
    filter: none;
    color: var(--bg-main);
}

.btn:hover .fas {
    color: var(--text-main);
}

/* Question */

.question {
    font-family: 'Karma', serif;
    color: var(--text-main);
}

.question a {
    color: var(--text-main);
}
.question a:hover {
    color: var(--text-secondary);
}

/* Flash Messages */

.flash-banner {
    margin: 30px 0 0 0;
    /* width: 45%; */
}

.flashes {
    /* box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5); */
    background-color: var(--bg-main);
}

.flashes h4 {
    font-family: 'Cairo', sans-serif;
    line-height: 1;
    padding-top: 10px;
    color: var(--text-main);
}

/* Footer */

.page-footer {
    background-color: var(--bg-main);
    /* box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5); */
    color: var(--text-main);
    margin-top: 30px;
}

.page-footer h5 {
    font-family: 'Cairo', sans-serif;
}

.page-footer a,
.page-footer p {
    font-family: 'Karma', serif;
}

.footer-copyright .container, .footer-copyright .container a, .page-footer a {
    color: var(--text-main);
}

.footer-copyright {
    font-family: 'Karma', serif;
}

/* @media queries */

@media only screen and (max-width: 996px) {
    .brand-logo {
        margin-left: 0;
    }

    .flash-banner {
        margin: 30px 0 0 0;
        /* width: 95%; */
    }
}
