/* Root varaiables */

:root {
    --black: #000000ff;
    --charcoal: #424b54ff;
    --citron: #e1ce7aff;
    --desert-sand: #ebcfb2ff;
    --silver: #c5baafff;
    --white-smoke: #f5f5f5ff;
    --white: #ffffffff;
}

/* Body */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url(../images/pastel-pots.jpeg);
    background-color: var(--white-smoke);
}

/* Navigation */

#navbar {
    background-color: transparent;
    box-shadow: none;
}

.nav-wrapper {
    margin: 10px 10px;
    /* border-radius: 5px; */
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5);
    background-color: var(--silver);
}

.brand-logo {
    margin-left: 30px;
}

a.brand-logo {
    color: var(--charcoal);
}

.nav-list {
    margin-right: 30px;
}

.nav-list li a {
    color: var(--charcoal);
}

/* Side Navigation */

.sidenav {
    max-height: 80%;
    margin: 5% 0 5% 10px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5);
    background-color: var(--silver);
}

.sidenav li h4 {
    color: var(--charcoal);
}

.sidenav li a {
    color: var(--charcoal);
}

/* Icons */

.fa-bars {
    margin-left: 15px;
}

.fas {
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
    color: var(--charcoal);
}

.input-field .prefix.active {
    color: var(--citron);
}

.text-shadow {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

/* Card Panels */

.card-panel {
    margin: 50px 10px 0 10px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5);
    background-color: var(--silver);
}

.card-panel h3 {
    color: var(--charcoal);
}

.card-panel label {
    color: var(--charcoal);
}

/* Buttons */

.btn {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5);
    background-color: var(--charcoal);
    color: var(--silver);
}

.btn:hover {
    background-color: var(--citron);
    color: var(--charcoal);
}

.btn .fa-pencil {
    filter: none;
    color: var(--silver);
}

.btn:hover .fa-pencil{
    color: var(--charcoal);
}

/* Flash Messages */

.flashes {
    margin: 20px auto 0 auto;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5);
    background-color: var(--silver);
    width: 50%;
}

.flashes h4 {
    line-height: 1.5;
    padding-top: 5px;
    color: var(--charcoal);
}

/* @media queries */

@media only screen and (max-width: 996px) {
    .brand-logo {
        margin-left: 0;
    }
}