{% extends "base.html" %}
{% block content %}

<div class="row">
    <form class="col s12 m8 offset-m2" method="post" action="">
        <div class="card-panel">
            <div class="row">
                <h3 class="center-align">Add a Recipe</h3>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen-clip prefix"></i>
                    <input id="recipe_title" type="text" class="validate">
                    <label for="recipe_title">Recipe Title</label>
                </div>
                <div class="input-field col s12 tooltipped" data-position="top" 
                data-tooltip="Add an ingredient - when you add and ingredient a 
                new field will appear below for the mext ingredient."  id="list1">
                    <i class="fas fa-list prefix"></i>
                    <input id="main_ingredients" type="text" class="validate">
                    <label for="main_ingredients">Main Ingredients</label>
                </div>
                <div class="input-field col s12 tooltipped" data-position="top" 
                data-tooltip="Add an ingredient - when you add and ingredient a 
                new field will appear below for the mext ingredient." 
                id="list2">
                    <i class="fas fa-list prefix"></i>
                    <input id="optional_ingredients" type="text" class="validate">
                    <label for="optional_ingredients">Optional Ingredients</label>
                </div>
                <div class="input-field col s12 tooltipped" data-position="top" 
                data-tooltip="Add an instruction - when you add and instruction 
                a new field will appear below for the mext instruction."  id="list3">
                    <i class="fas fa-list prefix"></i>
                    <input id="prep_instructions" type="text" class="validate">
                    <label for="prep_instructions">Preparation Instructions</label>
                </div>
                <div class="input-field col s12 tooltipped" data-position="top" 
                data-tooltip="Add an instruction - when you add and instruction 
                a new field will appear below for the mext instruction."  id="list4">
                    <i class="fas fa-list prefix"></i>
                    <input id="cook_instructions" type="text" class="validate">
                    <label for="cook_instructions">Cooking Instructions</label>
                </div>
                <div class="input-field col s12 l6">
                    <legend>
                        <i class="fas fa-clock prefix"></i>
                        <label for="prep_time">Preparation Time</label>
                        <input id="prep_time" type="time" step="60" class="validate" required>
                    </legend>
                </div>
                <div class="input-field col s12 l6">
                    <legend>
                        <i class="fas fa-clock prefix"></i>
                        <label for="cook_time">Cooking Time</label>
                        <input id="cook_time" type="time" step="60" class="validate" required>
                    </legend>
                </div>
                <div class="input-field col s12" dropdown>
                    <label>Select your recipe's food categories from the dropdown. Pick all options that apply.</label>
                    <select multiple title="category-selection">
                        <option value="" disabled selected></option>
                        <option value="1">Meat Dishes</option>
                        <option value="2">Fish Dishes</option>
                        <option value="3">Vegetarian Dishes</option>
                    </select>
                </div>
                <div class="center-align">
                    <button class="btn submit" type="submit" name="action">Submit
                        <i class="fas fa-paper-plane right"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


        

{% endblock %}