<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
            type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Karma:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        {% block styles %}
        {% endblock %}
        <title>Recipe Base</title>
    </head>


    <body>

        <header>
            <!-- top navbar -->
            <nav id="navbar" class="row">
                <div class="nav-wrapper col s12 l8 offset-l2">
                    <a href="{{ url_for('home') }}" class="brand-logo btn">Recipe Base</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger left" aria-label="Menu">
                        <i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down nav-list btn">
                        <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
                        {% if session['user'] %}
                        <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                        <li><a href="{{ url_for('get_categories') }}">Categories</a></li>
                        {% if session.user|lower == "admin"|lower %}
                        <li><a href="{{ url_for('add_category') }}">Add Category</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <!-- mobile sidenav -->
            <ul class="sidenav" id="mobile-demo">
                <li>
                    <h4 class="center-align">Recipe Base</h4>
                </li>
                <li><a href="{{ url_for('get_recipes') }}"><i class="fas fa-rectangle-list prefix"></i>Recipes</a></li>
                {% if session['user'] %}
                <li><a href="{{ url_for('add_recipe') }}"><i class="fas fa-plus prefix"></i>Add Recipe</a></li>
                <li><a href="{{ url_for('get_categories') }}"><i class="fas fa-table prefix"></i>Categories</a></li>
                {% if session.user|lower == "admin"|lower %}
                <li><a href="{{ url_for('add_category') }}"><i class="fas fa-plus prefix"></i>Add Category</a></li>
                {% endif %}
                <li><a href="{{ url_for('profile', username=session['user']) }}"><i class="fas fa-user prefix"></i>Profile</a></li>
                <li><a href="{{ url_for('logout') }}"><i class="fas fa-right-from-bracket prefix"></i>Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('register') }}"><i class="fas fa-pen-clip prefix"></i>Sign Up</a></li>
                <li><a href="{{ url_for('login') }}"><i class="fas fa-right-to-bracket prefix"></i>Log In</a></li>
                {% endif %}
            </ul>

        </header>
        <!-- flash-banner -->
        <section class="flash-banner">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="row flashes">
                <h4 class="center-align">{{ message }}</h4>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </section>
        <!-- main content -->
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
        <!-- footer -->
        <footer class="page-footer">
            <div class="container footer">
                <div class="row">
                    <div class="col l7 s12">
                        <h5>Recipe Base</h5>
                        <p>This website was created by Simon Boylan for the Code Institute Milestone Project 3.
                            It is a recipe sharing website where users can view and find recipes.
                            Users can also sign up and log in to the website to add, edit and delete their own recipes.
                        </p>
                        <p>Disclaimer: This website is for educational purposes only and is not intended for commercial
                            use.</p>
                    </div>
                    <div class="col l3 offset-l2 s12">
                        <h5>Social</h5>
                        <ul>
                            <li><a href="https://www.facebook.com" target="_blank" rel="noopener"><i
                                        class="fa-brands fa-facebook"></i> Join us on Facebook</a></li>
                            <li><a href="https://twitter.com" target="_blank" rel="noopener"><i
                                        class="fa-brands fa-x-twitter"></i> Add to the discussion on X</a></li>
                            <li><a href="https://www.instagram.com" target="_blank" rel="noopener"><i
                                        class="fa-brands fa-instagram"></i> Upload a pic on Instagram</a></li>
                            <li><a href="https://www.tiktok.com" target="_blank" rel="noopener"><i
                                        class="fa-brands fa-tiktok"></i> Add your kitchen disco on Tik Tok</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2024 Copyright Simon Boylan.
                    <a href="https://github.com/boderg" target="_blank" rel="noopener"><i
                            class="fa-brands fa-github"></i> Boderg</a>
                </div>
            </div>
        </footer>

        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Save your recipes</h4>
                <p>Save your recipes to view for later. <br>
                    Your recipes can be accessed and changed by you only when you login to your profile. <br>
                    Add new, edit or delete any of your own recipes. <br>
                    Others can view your recipes but cannot change or delete them.</p>
            </div>
            <div class="modal-footer">
                <div class="center-align">
                <a href="{{ url_for('register') }}" class="modal-close btn">Sign Up</a>
            </div>
            </div>
        </div>

        <div id="modal2" class="modal">
            <div class="modal-content">
                <h4>Why join us?</h4>
                <p>Join us to save your recipes and to view other users recipes. <br>
                    You can add, edit and delete your own recipes. <br>
                    You can view and search for recipes by category. <br>
                    You can view other users profiles and their recipes.
                    You get a full view of your recipe and instructions.</p>
            </div>
            <div class="modal-footer">
                <div class="center-align">
                <a href="{{ url_for('register') }}" class="modal-close btn">Sign Up</a>
            </div>
            </div>
        </div>

        <!-- scripts -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        {% block scripts %}
        {% endblock %}

    </body>

</html>