{% extends "base.html" %}
{% block content %}

<!-- headers -->
<div class="row">
    <div class="col s12 l6">
        <div class="card center-align">
            <h1 class="welcome">Welcome to </h1>
            <h1>Recipe Base</h1>
        </div>
    </div>
    <div class="s12 l6">
        <div class="card-img center-align">
            <img class="pots" src="{{ url_for('static', filename='images/grumpy-chef.svg') }}" alt="">
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 l6 right">
        <div class="card center-align">
            <h2 class="welcome2">The recipe sharing database</h2>
        </div>
    </div>
    <div class="s12 l6">
        <div class="card-img center-align">
            <img class="pots" src="{{ url_for('static', filename='images/chef_with_tray.svg') }}" alt="">
        </div>
    </div>
</div>
<!-- cards -->
<div class="row">
    <div class="col s12 m4">
        <div class="card home center-align tooltipped" data-position="bottom" data-tooltip="Click to Join">
            <a href="{{ url_for('register') }}">
                <h4>Join the community</h4>
            </a>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card home center-align">
            <h4>Share your recipes</h4>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card home center-align">
            <h4>Edit your recipes</h4>
        </div>
    </div>
</div>

<!-- <div class="row">

    <div class="card col s12 center-align">
        <h4>Top 3 recipes</h4>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title"></span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    <a href="#">This is a link</a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title"></span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    <a href="#">This is a link</a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title"></span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    <a href="#">This is a link</a>
            </div>
        </div>
    </div>

</div> -->

{% endblock %}