{% extends "base.html" %}
{% block content %}

<!-- headers -->
<div class="row">
    <div class="col s12 l6">
        <div class="card center-align">
            <h1 class="welcome">Welcome to <br> Recipe Base</h1>
        </div>
    </div>
    <div class="s12 l6">
        <div class="card-svg center-align">
            <img class="chefs" src="{{ url_for('static', filename='images/grumpy-chef.svg') }}" alt="">
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 l6 right">
        <div class="card center-align">
            <h2 class="welcome">The recipe <br> sharing database</h2>
        </div>
    </div>
    <div class="s12 l6">
        <div class="card-svg center-align">
            <img class="chefs" src="{{ url_for('static', filename='images/chef_with_tray.svg') }}" alt="">
        </div>
    </div>
</div>
<!-- cards -->
<div class="row">
    {% if not session.user %}
    <div class="col s12 l4">
        <div class="card home center-align">
            <a href="#modal1" class="modal-trigger"><h4 class="welcome">Save your recipes</h4></a>
        </div>
    </div>
    <div class="col s12 l4">
        <div class="card home center-align">
            <a href="#modal2" class="modal-trigger"><h4 class="welcome">Why join us?</h4></a>
        </div>
    </div>
    <div class="col s12 l4">
        <div class="card home center-align tooltipped" data-position="bottom" data-tooltip="Click to Join">
            <a href="{{ url_for('register') }}">
                <h4 class="welcome">Join the community</h4>
            </a>
        </div>
    </div>  
    {% else %}
    <div class="col s12 l4">
        <div class="card home center-align">
            <a href="{{ url_for('add_recipe') }}"><h4 class="welcome">Save your recipes</h4></a>
        </div>
    </div>
    <div class="col s12 l4">
        <div class="card home center-align">
            <a href="{{ url_for('get_recipes') }}"><h4 class="welcome">Edit your recipes</h4></a>
        </div>
    </div>
    <div class="col s12 l4">
        <div class="card home center-align">
                <a href="{{ url_for('get_recipes') }}"><h4 class="welcome">Search all recipes</h4></a>
        </div>
    </div> 
    {% endif %}
</div>



{% endblock %}