{% extends "base.html" %}
{% block content %}

<h3>{{ username.capitalize() }}'s Profile</h3>
<hr>

<div class="row">
    <div class="col s12">
            
        <!-- profile image -->
        <div class="col s10 offset-s1 m6 offset-m3 l3 offset-l2 profile">
            <div class="card">
                <div class="card-image">
                {% if user.profile_image %}
                <img class="activator profile-img" src="{{ user.profile_image }}" alt="alt image">
                {% else %}
                <img class="activator profile-img" src="{{ url_for('static', filename='images/admin-logo.jpg') }}"
                    alt="kitchen">
                {% endif %}
            </div>
            </div>
        </div>

        <!-- profile details -->
        <div class="col s12 l5 profile">
            <div class="card">
                <h5>{{ user.username.capitalize() }}</h5>
                <div class="divider"></div>
                <p>Name: {{ user.first_name.capitalize() }} {{ user.last_name.capitalize() }}</p>
                <div class="divider"></div>
                <p>Email: {{ user.email }}</p>
                <div class="divider"></div>
                <p>Joined on: {{ user.join_date }}</p>
            </div>
        </div>
        
        <!-- profile bio -->
        <div class="col s12 profile">
            <div class="card">
                <p>{{ user.username.capitalize() }}'s Bio:</p>
                <p>{{ user.bio.capitalize() if user.bio else '' }}</p>
                <div class="divider"></div>
                <p>Last updated on: {{ user.updated_on }}</p>
            </div>
        </div>
        
        <!-- edit profile button -->
        <div class="col s12 profile">
            <div class="center-align">
                <a href="{{ url_for('edit_profile', username=session['user']) }}" 
                class="btn">Edit Profile <i class="fas fa-pen-to-square"></i></a>
            </div>
        </div>
    </div>
</div>


            
{% endblock %}