{% extends "base.html" %}
{% block content %}

<h3>{{ username.capitalize() }}'s Profile</h3>
<hr>

<div class="row">
    <div class="col s12 m8 offset-m2">
                <div class="divider"></div>
                <p>Joined on: {{ user.join_date }}</p>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>{{ user.username.capitalize() }}'s Bio:</p>
                    <p>{{ user.bio }}</p>
                </div>
                <div class="col s12">
                    <p>Last updated on: {{ user.updated_on }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 ed-btn center-align">
                    <a href="{{ url_for('edit_profile', username=session['user']) }}" 
                    class="btn">Edit Profile <i class="fas fa-pen-to-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


            
{% endblock %}