{% extends "base.html" %}
{% block content %}

<div class="row">
    {% for recipe in recipes %}
    <div class="card sticky-action col s12 m6 l4">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../static/images/kitchen-75-white.jpg" alt="alt-image">
        </div>
        <div class="card-content">
            <span class="card-title activator"><h5><strong><em>{{ recipe.recipe_name.title() }}</em></strong></h5><i
                    class="fas fa-ellipsis-vertical right tooltipped" data-position="right" data-tooltip="View Recipe"></i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title"><h5><strong><em>{{ recipe.recipe_name.title() }}</em></strong></h5><i class="fas fa-xmark right"></i></span>
            <h6><strong>Ingredients</strong></h6>
            <p>{{ recipe.main_ingredients }}</p>
            <h6><strong>Optional Ingredients</strong></h6>
            <p>{{ recipe.optional_ingredients }}</p>
            <h6><strong>Preparation Time:</strong></h6>
            <p>{{ recipe.preparation_time }}</p>
            <h6><strong>Preparation Method</strong></h6>
            <p>{{ recipe.preparation_method }}</p>
            <h6><strong>Cooking Time:</strong></h6>
            <p>{{ recipe.cooking_time }}</p>
            <h6><strong>Cooking Method</strong></h6>
            <p>{{ recipe.cooking_method }}</p>
            <p>{{ recipe.created_by }}</p>
            <p>{{ recipe.created_date }}</p>
            <h6><strong>Category</strong></h6>
            <p>{{ recipe.category_name.title() }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
