{% extends "base.html" %}
{% block content %}
    {% for recipe in recipes %}
        {{ recipe.recipe_img }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.main_ingredients }}<br>
        {{ recipe.optional_ingredients }}<br>
        {{ recipe.preparation_time }}<br>
        {{ recipe.preparation_method }}<br>
        {{ recipe.cooking_time }}<br>
        {{ recipe.cooking_method }}<br>
        {{ recipe.created_by }}<br>
        {{ recipe.created_date }}<br>
        {{ recipe.category_name }}<br>
    {% endfor %}

    <div class="row">
    <div class="card sticky-action col s12 m5 offset-m1 l3">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg" alt="alt-image">
        </div>
        <div class="card-content">
            <span class="card-title activator"><em>Card Title</em><i
                    class="fas fa-ellipsis-vertical right"></i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title">Card Title<i class="fas fa-xmark right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
    <div class="card sticky-action col s12 m5 offset-m1 l3 offset-l1">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg" alt="alt-image">
        </div>
        <div class="card-content">
            <span class="card-title activator"><em>Card Title</em><i
                    class="fas fa-ellipsis-vertical right"></i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title">Card Title<i class="fas fa-xmark right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
    <div class="card sticky-action col s12 m5 offset-m1 l3 offset-l1">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg" alt="alt-image">
        </div>
        <div class="card-content">
            <span class="card-title activator"><em>Card Title</em><i
                    class="fas fa-ellipsis-vertical right"></i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title">Card Title<i class="fas fa-xmark right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
</div>

{% endblock %}
