{% extends "base.html" %}
{% block content %}

<h3>Join Recipe Base</h3>
<hr>

<div class="row">
    <!-- form section -->
    <form class="col s12 m8 offset-m2" method="post" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- first name -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-user prefix"></i>
                    <input id="first_name" name="first_name" type="text" minlength="1" maxlength="30"
                        pattern="^[a-zA-Z]{1,30}$" class="validate" required>
                    <label for="first_name">First name</label>
                </div>
            <!-- last name -->
                <div class="input-field col s6">
                    <i class="fas fa-user prefix"></i>
                    <input id="last_name" name="last_name" type="text" minlength="1" maxlength="30"
                        pattern="^[a-zA-Z]{1,30}$" class="validate" required>
                    <label for="last_name">Last name</label>
                </div>
            </div>
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="username" name="username" type="text" minlength="3" maxlength="20"
                        pattern="^[a-zA-Z0-9]{3,20}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix"></i>
                    <input id="password" name="password" type="password" minlength="6" maxlength="10"
                        pattern="^[a-zA-Z0-9]{3,20}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- confirm password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-check prefix"></i>
                    <input id="password2" name="password2" type="password" minlength="6" maxlength="10"
                        pattern="^[a-zA-Z0-9]{3,20}$" class="validate" required>
                    <label for="password2"> Confirm Password</label>
                </div>
            </div>
            <!-- email -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-envelope prefix"></i>
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn submit" type="submit">Sign Up
                            <i class="fas fa-pen-clip postfix"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- log in link -->
    <div class="row">
        <div class="col s12 question">
            <p class="center-align">
                Already have an account? <a href="{{ url_for('login') }}">Log In</a>
            </p>
        </div>
    </div>
</div>



{% endblock %}